@model IEnumerable<Online_Floral_Web_App.Models.bouquet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.Category_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.Category_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.bouquetid }) |
            @Html.ActionLink("Details", "Details", new { id=item.bouquetid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.bouquetid })
        </td>
    </tr>
}

</table>
